{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "root": true,
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": "error",
    "no-case-declarations": "off",
    "quotes": [
      "error",
      "single"
    ],
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "no-console": "off",
    "no-useless-escape": "error",
    "no-empty": "error",
    "no-var": "error",
    "no-mixed-spaces-and-tabs": "error",
    "prefer-const": "error",
    "require-atomic-updates": "off"
  },
  "globals": {
    "BigInt": true
  }
}
